<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/slide.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
        
            <header class="bg-body-tertiary d-flex">
            
                <h1 class="bg-body-tertiary text-center m-auto">
                    
                    <a href="{{ asset("./") }}" class="link-dark text-decoration-none fw-bold">Awazon!</a>
                    
                </h1>

                {% if is_granted('ROLE_USER') %}

                    <ul class="navbar-nav me-4 mb-2 mt-2 mb-lg-0">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hey, {{app.user.name}}!

                            {% if app.user.profilePicture != null %}
                            <img style="width:25px" class="rounded" src="{{ asset("uploads/user_pictures/" ~ app.user.profilePicture) }}"/> 
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu z-6">
                            <li><a class="dropdown-item" href="{{ asset('user/' ~ app.user.id) }}">Profile</a></li>
                            <li><a class="dropdown-item" href="{{ asset('favorites/') }}">Favorite items</a></li>
                            <li><a class="dropdown-item" href="{{ asset('logout') }}">Log out</a></li>
                        </ul>
                        
                        </li>
                        </li>
                    </ul>
                
                {% else %}

                    <ul class="navbar-nav me-4 mb-2 mt-2 mb-lg-0">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Log In
                        </a>
                        <ul class="dropdown-menu z-6">
                            <li><a class="dropdown-item" href="{{ asset("login") }}">Log In</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ asset("register/user") }}">Sign Up</a></li>
                        </ul>
                        </li>
                        </li>
                    </ul>

                {% endif %}

            </header>

            <nav class="navbar navbar-expand-lg bg-body-tertiary z-1 sticky-top p-0">
                <div class="container-fluid z-9">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav navbar-brand me-auto mb-2 mb-lg-0">
                            <li class="nav-item navbar-brand">
                            <a class="nav-link active" aria-current="page" href="{{ asset('./') }}">Home</a>
                            </li>
                            <li class="nav-item navbar-brand">
                                <a class="nav-link active" aria-current="page" href="{{ path('search') }}">Items</a>
                            </li>

                            {% if is_granted("ROLE_ADMIN") %}

                                <li class="nav-item navbar-brand">
                                <a class="nav-link active" href="{{ asset("create/item") }}">Create Item</a>
                                </li>

                                <li class="nav-item navbar-brand">
                                <a class="nav-link active" href="{{ asset("edit/item") }}">Edit Items</a>
                                </li>

                            {% endif %}
                        </ul>

                        {# <div id='slide_nav'>
                            <p id="slide_nav_button" class="nav-link active"><i class="fa-solid fa-basket-shopping"></i></p>
                        </div>
                        <ul id='slide_menu' class="bg-success text-light">
                            <li><p class="text-light w-100 text-center mt-3 fw-bold fs-4">My Basket</p></li>
                            <li><a href="#" class="text-light">Home</a></li>
                            <li><a href="#" class="text-light">About</a></li>
                            <li><a href="#" class="text-light">Contact</a></li>
                            <li><a href="#" class="text-light">Tutorial</a></li>
                            <li><a href="#" class="text-light">Advertise</a></li>
                        </ul> #}
                        </nav>
                        {# <div class="d-flex">
                            <form class="d-flex" role="search" method="GET" action="{{ path('searchItem') }}">
                                <input id="searchInput" class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div> #}
                    </div>
                </div>
            </nav>
        
        {% endblock %}
        {% block body %}{% endblock %}
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
        <script src="https://kit.fontawesome.com/339ad83339.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="{{asset('js/slide.js')}}"></script>
    </body>
</html>
