{% extends 'base.html.twig' %}

{% block title %}Items list{% endblock %}

{% block body %}


        {{ form_start(search) }}
        <div id="searchContainer" class="d-flex justify-content-around alignt-items-center w-100">

            <div class="navbar w-25 container-fluid">
                <div class="input-group">
                <span class="input-group-text d-flex align-items-center" id="basic-addon1">{{ form_label(search.id, "ID") }}</span>
                {{ form_widget(search.id) }}
                </div>
            </div>

            <div class="navbar w-25 container-fluid">
                <div class="input-group">
                <span class="input-group-text" id="basic-addon1">{{ form_label(search.name, "Name") }}</span>
                {{ form_widget(search.name) }}
                </div>
            </div>

            <div class="navbar w-25 container-fluid">
                <div class="input-group">
                <span class="input-group-text" id="basic-addon1">{{ form_label(search.url, "URL") }}</span>
                {{ form_widget(search.url) }}
                </div>
            </div>

            <div class="d-flex align-items-center">
                {{ form_widget(search.search) }}

            </div>

        </div>


        {{ form_end(search) }}



        <div class="list-group">

            {% for item in pagination %}

                <a href="{{ asset('edit/item/' ~ item.id) }}" class="list-group-item list-group-item-action my-2" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ item.name }}</h5>
                    <small>#{{ item.id }}</small>
                    </div>
                    <p class="mb-1">{{ item.url }}</p>
                    <small>{{ item.description }}</small>
                </a>

            {% endfor %}
        
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

{% endblock %}