{% extends 'base.html.twig' %}

{% block title %}{{ item[0].name | upper }}{% endblock %}

{% block body %}

    <div id="itemContainer" class="d-flex justify-content-around align-items-center px-5 mb-5 mt-5">

        <div id="carouselExample" class="carousel slide ms-5" style="height:60vh; width:40vw;">
        <div class="carousel-inner">

            {% for image in images %}

                <div class="carousel-item active">
                    <img src=" {{ asset('uploads/user_pictures/' ~ image.route ) }}" style="width: 40vw; height: 60vh;" class="d-block" alt="...">
                </div>

            {% endfor %}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>

        <div id="dataContainer" class="pe-5" style="width: 40vw">

            {% set favLink = false %}

            {% for favItem in fav %}
            
                {% if item[0].id == favItem.id %}

                    {% set favLink = true %}

                {% endif %}

            {% endfor %}

            {% if fav != null %}

            <div id="fav"><a href="{% if favLink %} {{ asset('remove/favorite/' ~ item[0].id ) }} {% else %} {{ asset('add/favorite/' ~ item[0].id ) }}  {% endif %}">
                {% if favLink %} 
                    <i class="fa-solid fa-heart text-success-emphasis fs-5"></i> 
                {% else %} 
                    <i class="fa-regular fa-heart text-success-emphasis fs-5"></i> 
                {% endif %}
            </a></div>

            {% endif %}
        
            <div id="nameIdContainer">
                <p class="fw-bold fs-3">{{ item[0].name | upper }} <span class="fst-normal text-secondary opacity-50">#{{ item[0].id }}</span></p>
            </div>
            <p class="">{{ item[0].description }}</p>
            <p class="text-black-50">{{ item[0].brand | upper }}</p>
            <p>{{ item[0].price }}€</p>

            {% if is_granted('ROLE_USER') %}
                <a href="{{ asset('add/basket/' ~ item[0].id ) }}" class="text-decoration-none text-light"><button type="button" class="btn btn-success m-auto">Buy this item</button></a>
            {% else %}

                <a class="text-decoration-none text-light" href="{{ asset("login") }}"><button class="btn btn-success ">Log In</button></a>

            {% endif %}
        
        </div>


    </div>


        <ul class="list-group list-group-flush d-flex flex-direction-column g-row-2 justify-content-around align-items-center" id="comentContainer">

            {% if is_granted("ROLE_USER") %}

            

                <li class="list-group-item d-flex" id="newComent" style="width: 80vw;">
                
                    <div id="newComentImage" class="d-flex justify-content-center align-items-center me-3">
                    
                            {% if app.user.profilePicture != null %}

                                <img src="{{ asset("uploads/user_pictures/") ~ app.user.profilePicture }}" alt="Not Found" style="height: 50px; width: 50px;" class="rounded-circle">

                            {% else %}

                                <div class="bg-success-subtle" style="height: 50px; width: 50px;" class="rounded-circle"></div>

                            {% endif %}
                    
                    </div>

                    <div id="userData" class="pt-4 w-100">

                        {{ form_start(newComent) }}

                        <p id="name" class="fw-bold">{{ app.user.username }}</p>
                        
                        <div id="newComent" class="mb-2 w-100">
                            {{ form_widget(newComent.coment) }}
                        </div>

                        {{ form_widget(newComent.send) }}

                        {{ form_end(newComent) }}


                    </div>
                
                </li>

            {% endif %}


        </ul>

        <ul class="list-group list-group-flush d-flex flex-direction-column g-row-2 justify-content-around align-items-center" id="comentContainer">

        {% for coment in coments %}

                <li class="list-group-item d-flex" id="coment{{ coment.id }}" style="width: 80vw;">
                
                    <div id="comentImage" class="d-flex justify-content-center align-items-center me-3">
                    
                        {% if coment.profilePicture != null %}

                            <img src="{{ asset("uploads/user_pictures/") ~ coment.profilePicture }}" alt="Not Found" style="height: 50px; width: 50px;" class="rounded-circle">

                        {% else %}

                            <div class="bg-success-subtle" style="height: 50px; width: 50px;" class="rounded-circle"></div>

                        {% endif %}
                    
                    </div>

                    <div id="userData" class="pt-4">

                        <p id="name" class="fw-bold">{{ coment.username }}</p>
                        <p id="name">{{ coment.coment }}</p>

                    </div>
                
                </li>

        {% endfor %}

        </ul>


{% endblock %}
{% block juvascript %}
    {{ parent() }}

{% endblock %}