{% extends 'base.html.twig' %}

{% block title %}Item search{% endblock %}

{% block body %}

    <div id="container" class="d-flex flex-wrap p-3 mx-3 justify-content-center flex-column">

        {{ form_start(search) }}

            <div class="container-fluid d-flex w-100">
                {{ form_widget(search.name, {attr: {'class' : 'form-control'}}) }}
                {{ form_widget(search.search) }}
            </div>

        {{ form_end(search) }}

        <div id="categoryContainer" class=" container d-flex w-100 justify-content-around align-items-center mt-3">

            {% for category in categories %}

        <a class="btn btn-success text-light text-decoration-none d-flex justify-content-center align-items-center mx-1" style="width: 100%; height: 40px;" href="{{ asset('search/' ~ category.category) }}">
            <div class="card-body" style="width: 100%;">
              <h5 class="card-text text-center" style="font-size: 1rem;">{{ category.category }}</h5>
            </div>
        </a>

        {% endfor %}
    
        </div>

        <div id="bigContainer" class="d-flex flex-wrap p-3 px-4 mx-3 justify-content-center w-100">

        {% for item in pagination %}

        <div class="{% if item.important %} d-flex justify-content-around flex-row {% else %}  {% endif %} card my-1 mx-2 p-0" style="{% if item.important %} width: 36rem; {% else %} width: 18rem; {% endif %} min-height:350px;">
            <div class="bg-danger-subtle mx-0 {% if item.important %} h-100 w-50 {% else %} h-50 {% endif %}" style="{% if item.important %} {% else %} height: 50%; {% endif %}">
                <img src="{# {% for image in images %} #} {# {% set index = loop.index0 %} #} {#  {% if index < images|length %} #}  {{ asset('uploads/user_pictures/' ~ item.portada) }}  {# {% endif %}  #} {# {% endfor %} #}" class="card-img-top object-fit-cover h-100" alt="Not found">
            </div>
            <div class="position-relative card-body {% if item.important %} w-50 {% else %} h-50 {% endif %}" >
                <h5 class="card-title">{{ item.name | upper }}</h5>
                <p class="card-text">{{ item.description|length > 50 ? item.description|slice(0, 50) ~ '...' : item.description  }}</p>
                <p class="card-text">{{ item.price ~ "€" }}</p>
                <div class="w-100 d-flex justify-content-end me-2 position-absolute" style="bottom: 10px; right: 5px;">
                <a href="{{ asset("item/" ~ item.url) }}" class="btn btn-success">More...</a>
                </div>
            </div>
        </div>

    {% endfor %}

        </div>

    </div>
{% endblock %}
