{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} favorites{% endblock %}

{% block body %}

    <div id="bigContainer" class="d-flex flex-wrap p-3 px-4 mx-3 justify-content-center w-100">

        {% for fav in favs %}

        
                <div class="{% if fav.important %} d-flex justify-content-around flex-row {% else %}  {% endif %} card my-1 mx-2 p-0" style="{% if fav.important %} width: 36rem; {% else %} width: 18rem; {% endif %} min-height:350px;">
                    <div class="bg-danger-subtle mx-0 {% if fav.important %} h-100 w-50 {% else %} h-50 {% endif %}" style="{% if fav.important %} {% else %} height: 50%; {% endif %}">
                        <img src="{# {% for image in images %} #} {# {% set index = loop.index0 %} #} {#  {% if index < images|length %} #}  {{ asset('uploads/user_pictures/' ~ fav.portada) }}  {# {% endif %}  #} {# {% endfor %} #}" class="card-img-top object-fit-cover h-100" alt="Not found">
                    </div>
                    <div class="position-relative card-body {% if fav.important %} w-50 {% else %} h-50 {% endif %}" >
                        <h5 class="card-title">{{ fav.name | upper }}</h5>
                        <p class="card-text">{{ fav.description|length > 50 ? fav.description|slice(0, 50) ~ '...' : fav.description  }}</p>
                        <p class="card-text">{{ fav.price ~ "€" }}</p>
                        <div class="w-100 d-flex justify-content-end me-2 position-absolute" style="bottom: 10px; right: 5px;">
                        <a href="{{ asset("item/" ~ fav.url) }}" class="btn btn-success">More...</a>
                        </div>
                    </div>
                </div>
        
        {% endfor %}

    </div>

{% endblock %}